<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">

                <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-home"></i></div>
                    Home
                </a>

                <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon"><i class="fab fa-tumblr"></i></div>
                    Trending
                </a>

                <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon"><i class="fab fa-stripe-s"></i></div>
                    Subscriptions
                </a>

            </div>
            <div class="dropdown-divider">
                
            </div>

            <div class="nav">

                <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-play"></i></div>
                    Library
                </a>

                <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon"><i class="fas fa-history"></i></div>
                    History
                </a>

                <a class="nav-link" href="index.html">
                    <div class="sb-nav-link-icon"><i class="fab fa-youtube"></i></div>
                   My Videos
                </a>

            </div>


        </div>
      
        
    </nav>
</div>
